* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: wheat;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-top: 20px;
}